<div class="card">
  <div class="card-header  flex-row justify-space-between">
    <h2>
      <a href="/post/{{post.id}}">
        <div class="col-8">{{post.title}}</div>
      </a>
    </h2>
    <div class="col-3">posted by {{post.user.username}} on {{post.createdAt}}
    </div>
  </div>
  <p class="card-body">
    {{post.body}}
  </p><br><br>
</div>
{{#if post.comments}}
<h2 class="card-header" style="padding: 2%; background-color: #9caea9; color: #38302e;">Comments</h2><br>
{{#each post.comments as |comment| }}
<div class="card-header  flex-row justify-space-between" style="background-color: #9caea9; color: #38302e;">Comment by -- {{comment.user.username}} on {{comment.createdAt}}</div>
<div>
  <p class="card-body">
    {{body}}
  </p>
</div>
</div>
{{/each}}
{{/if}}
</div>
<input type="hidden" id="post-id" value="{{post.id}}" />
<div class="card">
  <form class="card-body" id="new-comment-form">

    <p class="form-label">Comment:</p>
    <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
    <button type="submit" class="btn btn-primary">Submit:</button>
  </form>
</div>

<script src="/js/comment.js"></script>